/* HEADER */

body{
    margin: 0px;
}

.logo {
    width: 100px;
    margin-left: 0px;
}

.titulo {
    margin-left: 0px;
}

/* NAVBAR */

.navegacion {
    background-color:#dce0f4;
}

.boton {
    background-color: #c3c8dd;
    color: #ffffff;
    width: 150px;
}

.boton:hover {
    background-color: #ffffff;
    color: #c3c8dd;
    border: 1px solid black;
}

/* Inferior al titulo */

.inferior {
    background: #cbd2f3;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.inferior p {
    margin-bottom: 0;
}

.banner {
    background-size: 100%;
    width:100%;
    height: 100%; 
}  
.division{
    margin: 50px;
   }


.container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-12 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
.footer {
    margin-left: 0;
    float: left;
    width: 100%;
    z-index: 100;
    position: relative;
}

.footer ul {
    margin-bottom: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* CONTACTO */
body {
    background: #c3c8dd;
    margin: 0;
  }
  .form {
    width: 600px;
    height: 520px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(35vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
  h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 250px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
  }
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
  }
  input:focus {
    border-bottom: 2px solid #78788c;
  }
  p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
  }
  button {
    float: right;
    padding: 8px 12px;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover {
    background: #78788c;
    color: #fff;
  }
  .contacto {
    content: "Hi";
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 25px 4px 16px 0;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 10px 10px 40px -14px #000;
    display: flex;
   } 

  span {
    margin: 0 5px 0 10px;
  }

  h1 {
    width: 100%;
    height: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    
  }

  /* Nosotros*/

  .fondo {
    width: 100%;
    min-height: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    opacity: 90%;
}
  .nosotros {
    width: 1200px;
    top: 100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    color: #FFF;
}
.nosotros .txtpr {
  font-family: 'LatoBold', sans-serif !important;
  font-size: 48px;
  line-height: 48px;
  margin: 0 10px;
  padding: 10px 0;
  text-align: center;
}
.txtnos {
  width: auto;
  display: flex;
  margin: auto;
  text-align: justify;
  text-align-last: center;
}
.nosotros .txtnos {
  font-family: 'LatoRegular', sans-serif !important;
  font-size: 18px;
  line-height: 22px;
  margin: 0 10px;
  padding: 10px 0;
}
 @media screen and (max-width: 600px){
  .nosotros {
    color: #fff;
  }
 }
  @media screen and (max-width: 600px) {
    .contacto {
     display: flex;
     align-items: center;
     width: 270px;
     padding: 15px 4px 16px 0;
 
    }
  }
