/*MARCAS*/
.baner {
    padding: 3rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  .marcas {
    padding: 4rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-items: center;
    margin: auto;
  }